= link_to 'New Category', new_category_path, class: 'btn btn-default pull-right'
%hr

%table.table.table-striped.table-bordered
  %thead
    %th Name
    %th Type
    %th Monthly Income
    %th Montly Expense
    %th -
  - categories.each do |category|
    %tr
      %td= category.name
      %td= category.label
      %td.text-right= category.monthly_income
      %td.text-right= category.monthly_expense
      %td= category.link_to_actions
