= link_to 'New Category', new_category_path, class: 'btn btn-default pull-right'

%table.table.table-striped.table-bordered.table-responsive.m-l-t
  %thead
    %th Name
    %th Type
    %th Monthly Income
    %th Monthly Expense
    %th -
  - categories.each do |category|
    %tr
      %td= category.name
      %td.text-center= category.label
      %td.text-right= category.income
      %td.text-right= category.expense
      %td.text-center= category.link_to_actions
