= simple_form_for transaction, html: { class: 'form-horizontal' } do |f|
  .row
    = f.input :title, wrapper_html: { class: 'col-xs-10' }
  .row
    = f.label :transaction_date
    .clearfix
    = f.input_field :transaction_date, order: [:day, :month, :year]
  .row
    = f.association :account, include_blank: false, wrapper_html: { class: 'col-xs-4' }
  .row
    = f.association :category, include_blank: false,
      collection: current_user.categories.grouped_options_for_select,
      as: :grouped_select, group_method: :last,
      wrapper_html: { class: 'col-xs-4' }
  .row
    = f.input :amount, wrapper_html: { class: 'col-xs-6' }
  .row
    = f.input :comment, wrapper_html: { class: 'col-xs-10' }, input_html: { rows: 4 }
  .form-group
    = f.button :submit, class: 'btn-primary'
