= render partial: 'date_range'

%hr
= link_to 'New Transaction', new_transaction_path, class: 'btn btn-default pull-right'

%table.table.table-striped.table-bordered.table-responsive.m-x-t
  %thead
    %th Date
    %th Title
    %th Type
    %th Account
    %th.hidden-xs Category
    %th Amount
    %th -
  - transactions.each do |transaction|
    %tr
      %td= transaction.transaction_date
      %td= transaction.title
      %td.text-center= transaction.label
      %td= transaction.account_name
      %td.hidden-xs= transaction.category_name
      %td.text-right= transaction.amount
      %td.text-center= transaction.link_to_actions

.text-center
  = paginate @transactions
