!!! 5
%html
  %head
    %title= page_title
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .container
      %header.navbar.navbar-default{ role: 'banner' }
        .navbar-header
          = link_to t('app.name'), '#', class: 'navbar-brand'
        %nav.collapse.navbar-collapse{ role: 'navigation' }
          = semantic_navigation :main, config: :bootstrap, class: 'navbar-nav'

    .container
      = notifications
      = yield

  = javascript_include_tag "application", "data-turbolinks-track" => true

