!!! 5
%html
  %head
    %title= page_title
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .container
      .col-xs-12
        %header.navbar.navbar-default{ role: 'navigation' }
          .container-fluid
            .navbar-header
              .button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: "#navbar-collapse" }}
                %span.sr-only Toggle Navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to t('app.name'), '#', class: 'navbar-brand'
            %nav#navbar-collapse.collapse.navbar-collapse
              = semantic_navigation :main, config: :bootstrap, class: 'navbar-nav'
              = semantic_navigation :authentication, config: :bootstrap, class: 'navbar-nav navbar-right'

        .row
          .col-xs-12
            = notifications

        = yield

  = javascript_include_tag "application", "data-turbolinks-track" => true

