!!! 5
%html
  %head
    %title= page_title
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body
    .container
      .col-xs-12
        - if current_user
          %header.navbar.navbar-default{ role: 'navigation' }
            .container-fluid
              .button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: "#navbar-collapse" }}
                %span.sr-only Toggle Navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to t('app.name'), '#', class: 'navbar-brand'
              %nav#navbar-collapse.collapse.navbar-collapse
                = semantic_navigation :main, config: :bootstrap, class: 'navbar-nav navbar-left'
                = simple_form_for @filter, url: settings_transactions_path, method: :post, html: { class: 'navbar-form col-xs-6', role: 'search' } do |f|
                  .form-group
                    .input-daterange{ data: { behaviour: 'datepicker' } }
                      = f.input_field :date_start
                      = f.input_field :date_end
                  = f.button :submit, 'Filter', class: 'btn btn-default'
                = semantic_navigation :authentication, config: :bootstrap, class: 'navbar-nav navbar-right'

        .row
          .col-xs-12
            = notifications

        = yield

  = javascript_include_tag "application"
