= link_to 'New Account', new_account_path, class: 'btn btn-default pull-right'

%table.table.table-striped.table-bordered.table-responsive.m-l-t
  %thead
    %th Name
    %th Type
    %th Incomes
    %th Expenses
    %th Balances
    %th -
  - accounts.each do |account|
    %tr
      %td= account.name
      %td.text-center= account.label
      %td.text-right= account.incomes_with_range
      %td.text-right= account.expenses_with_range
      %td.text-right= account.balances_with_range
      %td.text-center= account.link_to_actions

= render partial: 'shared/overview'
