= link_to 'New Account', new_account_path, class: 'btn btn-default pull-right'

%table.table.table-striped.table-bordered.table-responsive.m-l-t
  %thead
    %th Name
    %th Type
    %th Monthly Income
    %th Monthly Expense
    %th Balance
    %th -
  - accounts.each do |account|
    %tr
      %td= account.name
      %td.text-center= account.label
      %td.text-right= account.income
      %td.text-right= account.expense
      %td.text-right= account.balance
      %td.text-center= account.link_to_actions

= render partial: 'shared/overview'
